name: Link Check

on:
  pull_request:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: lycheeverse/lychee-action@v1
        with:
          args: --verbose --no-progress --accept 200,206,429 --timeout 20s .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
